.footer {

    &__container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: baseline;
        row-gap: 70px;
        column-gap: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        border-top: 1px solid #DEDFE1;
        @include respond-max (md) {
            row-gap: 35px;
        }
        @include respond-max (sm) {
            grid-template-columns:  1fr;justify-items: center;row-gap: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__logo {
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
        color: inherit;
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
    }
    &__social {
        display: none;
        @include respond-max (md) {
            display: flex;
            gap: 24px;
        }
    }
    &__copy {
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        @include respond-min (sm) {
            grid-column: span 2;
        }
    }
}
.menu-footer {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 45px;
        row-gap: 15px;
    }

    &__link {
        font-weight: 700;
        color: inherit;
        font-size: 13px;
        line-height: 17px;
        &:hover {
            text-decoration: underline;
        }
    }
}