.social {
	display: flex;
    position: fixed;
	flex-direction: column;
	justify-content:center;
    align-items: center;
	top: 50%;
	gap: 25px;
	right: 20px;
	transform: translate(0px,-50%);
    z-index: 1;
    @include respond-max (md) {
        display: none;
    }
}