.subscribe {
    background: var(--6, #FBFCFC);
    padding-top: 110px;
	padding-bottom: 110px;
    @include respond-max (md) {
        padding-top: 70px;
		padding-bottom: 70px;
    }
    @include respond-max (sm) {
        padding-top: 30px;
		padding-bottom: 30px;
    }

    &__header {
        text-align: center;
	    margin-bottom: 34px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 144.2%;
        letter-spacing: 0.02em;
        @include respond-max (md) {
            font-size: 35px;
        }
        @include respond-max (sm) {
            font-size: 24px;
        }
    }

    &__sub-title {
        font-weight: 700;
        font-size: 23px;
        line-height: 144.2%;
        @include respond-max (md) {
            font-size: 20px;
        }
        @include respond-max (sm) {
            font-size: 18px;
        }
    }

    &__form {
        max-width: 686px;
	    margin: 0 auto;
    }
}
.form-subscribe {
	display: flex;
	background: #FFFFFF;
	gap: 15px;
    padding: 25px 45px;
	box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
    @include respond-max (sm) {
		flex-direction: column;
        min-width: 100%;
        // margin: 0px -15px;
		padding: 15px;
        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.04), 0px 30px 30px rgba(0, 0, 0, 0.0303704), 0px 30px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);

    }

    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
        color: rgba(49, 53, 59, 0.2);
    }

    &__input {
        flex: 1 1 auto;
        font-size: 20px;
        width: 100%;
        font-weight: 700;
        min-height: 40px;
    }

    &__button {
        background: #F85A47;
        height: 72px;
        padding: 10px 40px;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);    
        &:hover {
            background-color: #b84134;
        }
        @include respond-max (sm) {
            box-shadow: none;
        }
    }
}